{% extends 'base.html' %}
{% block title %}Virtual medical assistant API{% endblock %}
{% block stylesheet %}
    <style>
    .main-content {
    margin-top: 100px;
    }
    nav{
    background-color: #1C2331!important;
    }
    .row div{
        margin-top: 5px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="container">
            <div class="breadcrumbs">
                <div class="bc-icons-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="black-text" href="{% url 'medical:index' %}">Home</a><i class="fa fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item">API</li>
                    </ol>
                </div>
            </div>
            <!--Breadcrumbs-->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header deep-orange lighten-1 white-text">Hospital</div>
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'api:hospitals' %}">View Hospital API</a></li>
                                <li><a href="{% url 'api:create' %}">Create Hospital API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header deep-orange lighten-1 white-text">Diagnostic Test</div>
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'api:tests' %}">Test View API</a></li>
                                <li><a href="{% url 'api:create_test' %}">Create Test API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header deep-orange lighten-1 white-text">Package</div>
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'api:packages' %}">View Package API</a></li>
                                <li><a href="{% url 'api:create_package' %}">Create Package API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header deep-orange lighten-1 white-text">Shipping</div>
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'rest:shipping' %}">Shipping API</a></li>
                                <li><a href="{% url 'rest:shipping_create' %}">Shipping Create API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header deep-orange lighten-1 white-text">Patient</div>
                        <div class="card-body">
                            <ul>
                                <li><a href="{% url 'rest:patient' %}">Patient View API</a></li>
                                <li><a href="{% url 'rest:patient_create' %}">Patient Create API</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function() {
        $('.api').addClass('active');
    });
    </script>
{% endblock %}